.posts li {
    margin: 2px;
    margin-bottom: 10px;
    background-color: rgb(193, 220, 74);
    height: 100%;
    width: 78%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 8px;
}

.posts > h1 {
    padding-left: 20px;
    font-size: 2.5rem;
    color: rgb(33, 57, 26);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.posts ul {
    margin: 2px;
}

.link {
    font-size: 1.6rem;
    font-weight: 600;
}

.info {
    display: flex;
}
.info p {
    font-size: 0.9rem;
    padding-right: 40px;
}
