.section ul {
    margin: 2px;
}

.section li {
    background-color: rgb(114, 254, 75);
    margin-top: 8px;
    height: 40px;
    width: 40%;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(0, 140, 54);
    border-style: solid;
    display: flex;
    align-items: center;
}

.section > h1 {
    padding-left: 20px;
    font-size: 2.5rem;
    color: rgb(33, 57, 26);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.section li > a {
    font-size: 1.4rem;
    padding: 12px;
}

.closed {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(77, 87, 70);
    font-weight: 600;
    padding-left: 10px;
}

.closed img {
    height: 30px;
    padding-left: 10px;
}
